<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Output">
        <plugin name="koian_textlink_around_product_attribute" type="Koian\TextLink\Plugin\Catalog\Helper\Output"   disabled="false"/>
    </type>
</config>